/* ======== Wide Scope Styles ========
Vars for color usage */
:root {
    font-size: 16px;

    --main-bg-color: hsl(211, 59%, 92%);
    --main-txt-color: hsl(0, 8%, 3%);
    --secondary-bg-color: hsl(221, 29%, 87%);
    --secondary-txt-color: hsl(195, 92%, 86%);
    --main-border-color: hsl(215, 100%, 80%);
    --special-case-color: hsl(237, 43%, 81%);

    --transition-speed: 2s;
}

/* For dark mode */
.dark-mode {
    --main-bg-color: hsl(0, 0%, 0%);
    --main-txt-color: hsl(100, 100%, 62%);
    --secondary-bg-color: hsl(0, 0%, 6%);
    --secondary-txt-color: hsl(125, 100%, 79%);
    --main-border-color: hsl(155, 100%, 55%);
    --special-case-color: hsl(265, 95%, 36%);
}

* {
    box-sizing: border-box;
    color: var(--main-txt-color);
}

/* Wide scope element styles  */
body {
    background-color: var(--main-bg-color);
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

body, header, hgroup, footer{
    margin: 0;
    padding: 0;
}

/* Make room for nav bar  */
main {
    padding-bottom: .2rem;
    /* margin-top: 4rem; */
}

/* Alter browser default scroll bar  */
body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--secondary-bg-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-txt-color);
} 

hgroup {
    display: flex;
}

/* ======== Main Header ======== */
.main-headers {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.main-headers h1{
    margin: 0px;
    border-top: 0px;
    border-bottom: solid var(--main-border-color);
    background-color: var(--secondary-bg-color);
}

.main-headers h2{
    margin: 0px;
    border-bottom: solid var(--main-border-color);
    background-color: var(--secondary-bg-color);
}

/* ======== Navigation menu ======== */
.navbar {
    width: 100%;
    height: 2.5rem;
    display: flex;
    background-color:var(--secondary-bg-color);
    transition: height 310ms ease;
}

.nav-bar-ulist {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav-item {
    height: 100%;
}

.nav-item:last-child {
    margin-left: auto;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem; 
    height: 100%;
    text-decoration: none;
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
    border: var(--main-border-color) solid 1px;
}

.svg-nav-item {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
}

.link-text {
    display: none;
}

.navbar:hover {
    height: 6.5rem;
}

.navbar:hover .link-text{
    display: block;
    padding: 1rem;
}

.logo {
    font-weight: bold;
    text-align: center;
    color: var(--secondary-txt-color);
    background-color: var(--secondary-bg-color);
    font-size: 1rem;
    letter-spacing: 0.2ch;
    height: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-540deg);
}

/* ======== Main Container ======== */
.main-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    background-color: var(--secondary-bg-color);
    border: var(--main-border-color) solid;
    max-width: 100%;
}

/* ======== Main Container Sections ======== */
.main-sections {
    display: flex;
    border: var(--main-border-color) solid;
    margin: 1.5rem;

}

.main-sections h2{
    min-width: 185px;
    max-width: 185px;
    /* Makes <p> in flexbox line up; */
}

/* ======== Images Section ======== */
.img-container {
    display: flex;
    flex-wrap: wrap;
} 

.img-container img{
width: 180px;
height: 90px;
    
}  

.main-img {
    width: 100%;
} 

/* ======== Footer ======== */
.footer {
    margin-top: auto;
    width: 100%;
    padding: .2rem;
    color: var(--secondary-txt-color);
    background-color: var(--secondary-bg-color);
    text-align: center;
}

/* @media flex-direction: column; to swap headers to top */

@media only screen and (max-width: 600px) {
    .nav-link {
        width: 4.1rem;
    }
    .main-sections {
        flex-direction: column;
    }

  }